# ===============================
# DATASET & DATA SPLIT
# ===============================
DatasetUAP/
data/

# ===============================
# MODEL FILES
# ===============================
models/
*.keras
*.h5

# ===============================
# PYTHON ENVIRONMENT
# ===============================
.venv/
.pdm-python
__pycache__/
*.pyc

# ===============================
# JUPYTER
# ===============================
.ipynb_checkpoints/

# ===============================
# CACHE & OS
# ===============================
.mypy_cache/
.pytest_cache/
.ruff_cache/
.DS_Store
Thumbs.db